name: Check Markdown links

on:
  push:
    branches:
    - main
  schedule:
    - cron: '* * * * *'

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
